/* 
* Author: Marcos Vinicio Cardoso Sousa
* Date: 2025-04-23
* Description: Animations for the portifolio website.
*/

@keyframes arrow-wave {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
